.App {
  color: grey;
  margin-top: 80px;
  text-align: center;
}

.dice {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.player {
  color: white;
  text-transform: uppercase;
}

.player.active {
  color: green;
}

.score {
  font-size: 30px;
  font-weight: bold;
}

.button {
  background-color: #333;
  border: none;
  color: antiquewhite;
  font-size: 18px;
  margin: 0 8px;
  min-width: 100px;
  padding: 8px;
  border-radius: 10px;
}

.panel {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88px;
}

.warning path {
  fill: red;
}

.status {
  color: red;
  font-size: 24px;
  font-weight: bold;
}