.App {
  color: grey;
  text-align: center;
}

.dice {
  display: flex;
  justify-content: center;
}

.player {
  color: white;
}

.player.active {
  color: green;
}

.button {
  background-color: #333;
  border: none;
  color: antiquewhite;
  font-size: 18px;
  min-width: 100px;
  padding: 8px;
  border-radius: 10px;
}

.status {
  color: green;
  font-size: 20px;
}